body{
  margin: 0;
  padding: 0;
  background-color: white;
}
h2 {
  text-align: center;
  font-size: 40px;
}
p {
  text-align: center;
  font-size: 16px;
  font: Tahoma;
}
.container{
  background-color: #B19CD9;
  padding: 50px;
  text-align: center;
  margin-top:40px;
}
.container a{
  color: black;
}
.container a:hover{
  color: black;
  text-decoration: underline;
}

