<div class="footer-basic">
    <footer>
      <div class="social"><a href="https://www.instagram.com/?hl=en" target="_blank"><i class="icon ion-social-instagram"></i></a><a href="https://twitter.com/LOGIN" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/home">Home</a></li>
        <li class="list-inline-item"><a href="/customerProduct">Products</a></li>
        <li class="list-inline-item"><a href="/about">About Us</a></li>
        <li class="list-inline-item"><a href="/contact">Contact Us</a></li>
        <li class="list-inline-item"><a href="/FAQ">FAQ</a></li>
      </ul>
      <p class="copyright">Queensway Shopping Center © 2021</p>
    </footer>
</div>
