<!--Reset Password Page (Front-end)-->
{% extends "base.html" %}

{% block title %}QWS - Reset Password{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/entry_base.css')}}" type="text/css">
{% endblock css %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% elif request.args.get('error') %}
  <div class="alert alert-danger">{{ request.args.get('error') }}</div>
{% endif%}

<!--Reset Password Form-->
<div class="wrapper bg-white mt-sm-5">
    <form method="POST" action="">
    <!--Header-->
        <h2 class="pb-4 border-bottom" style="text-align: center;">Reset Password</h2>

    <!--Sub-text-->
        <p class="hint-text">Enter your current and new password to reset password</p>
        <div class="row py-2">
            <div class="col-md-12">
              <!--Current Password field-->
              {{ render_field(form.current_password, class="bg-light form-control", placeholder="Current Password") }}
            </div>
        </div>

        <div class="row py-2">
            <div class="col-md-12">
              <!--New Password field-->
              {{ render_field(form.new_password, class="bg-light form-control", placeholder="New Password") }}
            </div>
        </div>

        <div class="row py-2">
            <div class="col-md-12">
              <!--Confirm New Password field-->
              {{ render_field(form.confirm_password, class="bg-light form-control", placeholder="Confirm New Password") }}
            </div>
        </div>

        <br/>
        <input type="submit" value="Change" onclick="" class="btn btn-success btn-lg btn-block"/>
        <br/>
        {% if session.admin_logged_in == True %}
          <a href="/customerAccount" class="btn btn-danger">Cancel</a>
        {% else %}
          <a href="/customerProfile" class="btn btn-danger">Cancel</a>
        {% endif %}
    </form>
</div>
{% endblock %}
