<!--Forget Password Page (Front-end)-->
{% extends "base.html" %}

{% block title %}QWS - Forgot Password{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/entry_base.css')}}" type="text/css">
{% endblock css %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% elif success %}
  <div class="alert alert-success">{{success}}</div>
{% endif%}

<!--Forget Password Form-->
<div class="wrapper bg-white mt-sm-5">
    <form method="POST" action="">
    <!--Header-->
        <h2 class="pb-4 border-bottom" style="text-align: center;">Forget Password?</h2>

    <!--Sub-text-->
        <p class="hint-text">Enter your email address to reset your password</p>
        <div class="row py-2">
            <div class="col-md-12">
              <!--Email field-->
              {{ render_field(form.email, class="bg-light form-control", placeholder="Example@email.com") }}
            </div>
        </div>
        <br/>
        <input type="submit" value="Submit" onclick="" class="btn btn-success btn-lg btn-block"/>
        <br/>
        <div class="back2login">
            <a href="/loginCustomer"><i class="fa fa-chevron-left" aria-hidden="true"></i>  Back to Login</a>
        </div>
    </form>
</div>
{% endblock %}
